.social-proof {
    max-width: 1110px;

    &__title {
        margin: 0 0 18px;
        font-weight: 700;
        font-size: 40px;
        line-height: .8;
        letter-spacing: -1.43px;
        text-align: center;
        color: $color-primary-magenta;
    }

    &__text {
        margin: 0 8px 40px;
        text-align: center;
    }

    &__media-list {
        margin: 0 0 50px;
    }

    &__user-list {
        margin: 0;
    }
}
