$color-primary-magenta: hsl(300, 43%, 22%);
$color-primary-pink: hsl(333, 80%, 67%);
$color-neutral-magenta-dark: hsl(303, 10%, 53%);
$color-neutral-magenta-light: hsl(300, 24%, 96%);
$color-neutral-white: hsl(0, 0%, 100%);
